<div>
    <div class="header">
        <div class="header-section header-gun">
            <img src="images/leftTopPicture.png">
        </div>
        <div class="header-section header-middle-section">
            <div>

                <div class="header-cert-container">
                    <p class="header-cert-text"><a ng-click="showCertificate()"><img src="images/pr.png">Подарочный сертификат</a></p>
                </div>
            </div>
            <div class="header-links">
                <a class="header-link" href="/#/new">New</a>
                <a class="header-link" href="/#/shop">Shop</a>
                <a class="header-link" href="/#/sale">Sale</a>

            </div>
        </div>
        <div class="header-section header-logo">
            <div><img src="images/logo.png" alt="logo"></div>
        </div>

        <div class="header-section header-middle-section">

            <div class="header-middle-section-enter">
                <p>
                    <a ng-show="!currUser" ng-click="login()" class="header-link">Вход</a>
                    <span class="header-link header-username" ng-show="currUser">Добрый день, {{currUser.userName}}</span>
                    <a class="header-link" ng-show="currUser" ng-click="logout()">Выход</a>
                    <a class="header-link" href="/#/basket">Корзина</a>
                </p>


            </div>

            <div class="margin-top-10 header-links">
                <a class="header-link" href="/#/lookbook">Lookbook</a>

                <a class="header-link" href="/#/ourStore">Our store</a>
                <a class="header-link" href="/#/blog">Blog</a>

            </div>

        </div>

        <div class="header-section header-gun">
            <img src="images/rightTopPicture.png">
        </div>
    </div>
    <div class="header-social-container">
        <div class="social"><a href="https://www.instagram.com/bulletproof_krd/" class="cursor-pointer">
            <img src="images/instagram.png " alt="instagram"></a></div>
        <div class="social">
            <a href="https://vk.com/bulletproof_store" class="cursor-pointer">
                <img src="images/vk.png " alt="vk"></a></div>

    </div>
</div>