<div style="position: relative">
    <div id="filters">
        <div class="quantity" style="margin-top:15px">
            <select ng-model="sortOption"
                    ng-options="sortOption as sortOption.label for sortOption in sortOptions"
                    ng-change="sort(sortOption.field, sortOption.order)">
                <option value="">Сортировать по:</option>
            </select>
        </div>

        <div class="quantity" style="margin-top:15px">
            <select ng-model="size" ng-options="size for size in sizes" ng-change="filter(size)">
                <option value="">Размер</option>
            </select>
        </div>

        <div class="quantity">
            <p>Показывать по | <span ng-click="prevPage()">&lt;</span></p>
        </div>

        <div ng-repeat="size in availablePageSizes" class="quantity">
            <p ng-click="setPageSize(size)">{{size}}</p>
        </div>

        <div class="quantity">
            <p><span ng-click="nextPage()">&gt;</span></p>
        </div>
    </div>

    <div style=" width:100%; height:1px; clear:both;"></div>

    <div id="list">
        <ul>
            <li style="font-weight: bold;">Категории:</li>
            <li ng-repeat="category in categories"  ng-click="changeCategory(category.id)">{{category.title}}</li>
        </ul>

    </div>


    <div id="shirt">
        <p>Майки Рубашки и блузки</p>

    </div>


    <div id="table">

        <div class="cell" ng-repeat="product in products">
            <a ng-click="showProduct(product)"><img ng-src="/product_imgs/product_{{product.id}}.png" alt="product image"></a>

            <p>{{product.title}}<br/>
            <p><span ng-class="(collection =='sale') ? 'sale-price' : ''" style="color:rgb(140, 139, 138)">{{product.price}} руб.</span></p>
            <p><span  ng-show="collection =='sale'" style="color:rgb(140, 139, 138)">{{product.salePrice}} руб.</span></p>
                <!--<span style="color:rgb(140, 139, 138)">{{product.salePrice ? product.salePrice : product.price}} </span>-->
            </p>
        </div>

    </div>
    <div  ng-show="collection =='sale'" class="salePercent salePercent_top"><img
            src="images/40.png"></div>
    <div ng-show="collection =='sale' && products.length>8" class="salePercent salePercent_bottom"><img
            src="images/70.png"></div>
</div>