<div class="container">

    <div class="slider">
        <div class="slider__photo-container">
            <div class="slider__arrow-left" ng-click="prevSlide()">&lt&lt;</div>
            <ul class="no-bullet">
                <li ng-repeat="slide in activeSlides">
                    <div class="slider__photo-container__photo">
                        <img class="photo_img" ng-src="{{slide}}"/>
                    </div>
                </li>
            </ul>
            <div class="slider__arrow-right" ng-click="nextSlide()">&gt&gt;</div>
        </div>
        <div style=" width:100%; height:1px; clear:both;"></div>
        <div class="slider__control-container">

            <ul class="no-bullet">
                <li ng-repeat="num in counter">
                    <div ng-class="(num==startSlide +1) ? 'slider__point slider__point-active' : 'slider__point'"  class="" ng-click="setSlide(num)"></div>
                </li>
            </ul>

        </div>

    </div>
</div>