<div class="modal fade">
    <div class="modal-dialog">
        <div class="border_picture"><img src="images/logo2.png"/></div>
        <div class="modal-content modal-content-actions ">
            <p class = "actionText">Каждому 20му покупателю предоставляется скидка до 70% на все не акционные товары!!!</p>
        </div>


    </div>
</div>
</div>