<div class="container">
    <div class = "Home-Actions"><p> < <a href="/#/">Home</a>/Actions</p></div>
    <div class = "line"><img src="images/actionsLine.png"></div>

    <div class="actionsTop">
        <div class = "actionsTopInside">
            <div class="round"><img src="images/round.png"> </div>
            <div class="actionsBack"><img src="images/actionsBack.png"></div>
             <div class="title"><p>Акции</p></div>
            <div class = "actionsTopPicture"><img src="images/actionsTopPicture.png" style="width:384px; height:360px;"></div>
            <div class="actionsTopBackground"><img src="images/actionsTopBackground.png"style="height:360px;"></div>
            <div class = "topActionText"><a ng-click="showAction('/template/actionTopDialog.html')"><p>Распродажа летней коллекции</p></a></div>
        </div>
    </div>

    <div class = "secondLine"><img src="images/actionsLine.png"></div>

    <div class = "actionsMiddle">
        <div class = "actionsMiddleInside">
            <div class = "actionsMiddleBackPicture"><img src = "images/actionsMiddleBackPicture.png"></div>
            <div class = "actionsMiddleBackground"><img src="images/actionsMiddleBackground.png"></div>
            <div class="middleActionText"><a ng-click="showAction('/template/actionMiddleDialog.html')"><p>Последний размер</p></a></div>
            <div class = "actionsMiddlePicture"><img src="images/actionsMiddlePicture.png" style="width: 390px;height: 260px;"></div>
        </div>
    </div>

    <div class = "actionsBottom">
        <div class="actionsBottomInside">
            <div class = "actionsBottomPicture"><img src="images/actionsBottomPicture.png" style="width: 397px;height: 260px;"></div>
            <div class = "actionsBottomBackground"><img src = "images/actionsBottomBackground.png"></div>
            <div class="bottomActionText"> <p><a ng-click="showAction('/template/actionBottomDialog.html')"> До 70% </a></p></div>
        </div>



    </div>


</div>
