<div class="modal fade">
    <div class="modal-dialog">
        <div class="border_picture"><img src="images/logo2.png"/></div>
        <div class="modal-content modal-content-actions ">
            <p class = "actionText">На товары последнего размера в нашем магазине предоставляется скидка!!!</p>
        </div>


    </div>
</div>
</div>