<div>
    <div class="Home-Basket"><p> < <a href="/#/">Home</a>/Basket</p></div>
    <div class="basketLogo">
        <div class="shopping-bag"><img src="images/shopping-bag-icon.png"></div>
        <div class="basketTitle"><p>Корзина</p></div>

        <div class="basketLine"><img src="images/basketLine.png"></div>
    </div>
    <div ng-show="basket.products.length>0">
        <div class="productContainer" ng-repeat="product in basket.products">
            <div class="basketItem basketItem_short"><img class="productIcon"
                                                          ng-src="product_imgs/product_{{product.id}}.png"></div>
            <div class="productName  basketItem"><p>{{product.title}}</p></div>
            <div class="productDescription  basketItem">{{product.description}}</div>
            <div class="productSize  basketItem">{{product.size}}</div>
            <div class="productPrice  basketItem">{{product.salePrice ? product.salePrice : product.price}} руб.</div>
            <div class="productPrice  basketItem"><a href="javascript:;" ng-click="removeProduct(product.id)">убрать из
                корзины</a></div>
            <div style=" width:100%; height:1px; clear:both;"></div>


        </div>

        <div class="totalPrice"><p>Итоговая сумма: {{totalPrice}} руб</p></div>

        <div class="order">

            <div class="info"> Оставьте номер контактного телефона и кликните "оформить заказ" и мы свяжемся с Вами
            </div>
            <div class="phoneNum"><p>Номер телефона</p><input type="text"></div>
            <div class="makeOrder"><input type="submit" value="Оформить заказ"></div>

        </div>
    </div>
    <div class="emptyBasket" ng-show="basket.products.length==0">
        Ваша корзина пуста
    </div>
</div>
