    <div>
        <div class = "Home-Blog"><p> < <a href="/#/">Home</a>/Blog</p></div>

        <div id="Top-3-Trends"><p>Top 3 Trends For Fall 2015</p></div>
        <div style=" width:100%; height:1px; clear:both;"></div>

        <div id = "Blog-Top">
            <div id = "Blog-T"> <img src = "images/Blog-T.png" alt = "Blog-T"></div>
            <div id = "pic-blog-top"><img src="images/picture_7.png" alt="picture_7"></div>
            <div id ="blog-text-top"><p>Fall fashion is a favourite of many - we're certainly all getting quite exited about it here
                at Free People. To welcome this beautiful season and start it off with some excitement, I asked our fashion director///</p></div>
            <div style=" width:100%; height :1px; clear:both;"></div>
        </div>

        <div id = "vector"><img src = "images/vector.png" alt = "vector"></div>
        <div style=" width:100%; height :1px; clear:both;"></div>
        <div id ="last_summer"><img src = "images/last_summer.png" alt = "last summer"></div>
        <div style=" width:100%; height:1px; clear:both;"></div>

        <div id = "blog_bottom">

            <div id = "blog_bottom_3d_picture"><img src = "images/blog_bottom.png" alt = "blog_bottom"></div>
            <div id= "blog_bottom_2nd_picture"><img src = "images/picture_9.png" alt="picture_9"><p id = "blog_bottom_text">Summer fashion is a
                favourite of many - we're certainly all getting quite exited about it here at Free </p></div>
            <div id= "blog_bottom_1st_picture"><img src = "images/picture_8.png" alt="picture_8"><p id = "blog_bottom_text">Summer fashion is a
                favourite of many - we're certainly all getting quite exited about it here at Free </p></div>
            <div id= "blog_black"><img src = "images/black.png" alt="black"></div>



            <div style=" width:100%; height:1px; clear:both;"></div>

        </div>

        <div style=" width:100%; height:1px; clear:both;"></div>
