<div class="modal fade">
    <div class="modal-dialog">
        <div class="border_picture"><img src="images/logo2.png"/></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Подарочный сертификат</h4>
            </div>
            <div class="modal-body">
               <p>Порадуйте своих знакомых подарочным сертификатом из нашего магазина.
                   Все подробности вы можете узнать у наших консультантов либо по телефону</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">ОК</button>
            </div>
        </div>
    </div>
</div>