<div>
    <div style="width:100%">
        <div style="float: left; width:30%"><img src="images/contacts.png"></div>
        <div id="info"><p><br/>Чтобы получить информацию о своем личном клиентском счете,узнать</br>
            подробности проводимых акций и задать вопросы об условиях доставки, звоните</br>
            на горячую линию или отправьте нам сообщение____________________________________________________________</p>
        </div>

        <div style=" width:100%; height:1px; clear:both;"></div>

    </div>

    <div class="address">

        <p>наш адрес: г. Краснодар, ул. Рашпилевская, 106</br>
            наш телефон: +7 900 242 64 22</p>

    </div>


    <div class="form">
        <form name="message" action="mailto:ulia.korobovich@gmail.com">
                <label for="subject">Тема сообщения:</label>
                <input class="input" id="subject" name="subject" type="text" value="Тема сообшения">
            <br/>
                <label for="input-text">Текст сообщения:</label>
                <textarea id="input-text" rows="4"  name="body" >Текст сообщения</textarea>
            <button type="submit" id="button-send">Отправить</button>

        </form>
    </div>

    <div>
        <img src="images/map3.png" alt="map">
    </div>

</div>