    <div>

        <div class = "Home-Help"><p> < <a href="/#/">Home</a>/Help</p></div>

            <div class ="help_top">
                <p style="margin-left: 190px">Помощь</p>
                <img src = "images/help_top_line.png" alt="line" style="margin-bottom: 35px; margin-top: -20px ">

            </div>

        <div class="help_central">
            <div class ="central_elements"><img src = "images/payment.png/"><p><span style="font-size: 30px">Оплата</span>
                производится как наличный так и безналичный расчет</p></div>

            <div class ="central_elements"><img src = "images/delivery.png/"><p><span style="font-size: 30px">Доставка</span>
                в нашем магазине работает курьреская доставка </p></div>

            <div class ="central_elements"><img src = "images/returns.png/"><p><span style="font-size: 30px">Возврат</span>
                возврат товара в магазин осуществляется при наличии чека и сохранении товарного вида  </p></div>
            <div style=" width:100%; height:1px; clear:both;"></div>
        </div>

        <div class ="how_to_find">
            <p style="margin-bottom:-15px"><span style="font-size: 30px">как нас</br> найти</span></p>
            <img src="images/help_top_line.png" alt = "line">
            <br><a  href="/#/ourStore">Наш магазин</br> в Краснодаре</a></p>



        </div>



        <div style=" width:100%; height:1px; clear:both;"></div>
       </div>