<div class="modal fade">
    <div class="modal-dialog">
        <div class="border_picture"><img src="images/logo2.png"/></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Войти</h4>
            </div>
            <div class="modal-body">
                <p class="red-label" ng-show="message"> {{ message}}</p>
                <p><label for="name">email:</label><input id="name" type="text" ng-model="userName" value="имя пользователя"/></p>
                <p><label for="password">Пароль:</label><input id="password" type="password" ng-model="password" value="пароль"/></p>
            </div>

            <div class="modal-footer">
                <button type="button" ng-click="close('reg')" class="btn btn-default" style="float: left;" data-dismiss="modal">Зарегистрироваться</button>
                <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" ng-click="login()" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </div>
</div>