    <div>

        <div class = "Home-lookbook"><p> < <a href="/#/">Home</a>/Lookbook</p></div>


        <div id = "sl">
            <div class = "sr" style="margin-top:250px;"><a href="/#/lookbookInside"><img src = "images/lookbook-left.png" alt = "lookbook" style="z-index:2;" ></a></div>
                <div class = "sr" > </br></br> </br></br><img src = "images/picture_1.png" alt = "picture1"  ></div>
                <div class = "sr" > </br></br> </br></br><img src = "images/picture_2.png" alt = "picture2" ></div>
                <div class = "sr" style = "margin-left:-70px"><a href="/#/collections/9"><img src = "images/autumn.png" alt = "autumn" ></a></div>
                <div style=" width:100%; height:1px; clear:both;"></div>
            </div>
        </div>
        <div style=" width:100%; height:1px; clear:both;"></div>

        <div class = "thl">
            <div class = "thr"><a href="/#/collections/10"><img src = "images/summer.png" alt = "summer" style ="margin-top: -60px" ></a></div>
            <div class = "thr" ><img src = "images/picture_3.png" alt = "picture3" style ="margin-left: -45px" ></div>
            <div class = "thr"><img src = "images/picture_4.png" alt = "picture4"></div>
            <div class = "thr"><img src = "images/picture_5.png" alt = "picture5"></div>
            <div style=" width:100%; height:1px; clear:both;"></div>
        </div>
        <div style=" width:100%; height:1px; clear:both;"></div>

        <div class ="fl" >
            <div class="fr"style="margin-right:50px">
                <img src = "images/picture_6.png" alt = "picture6">
            </div>

            <div id="collections">
                <img src = "images/collections.png" alt = "collections" >

            </div>

            <div id="all">
                <a href="/#/shop"><img src= "images/all.png" alt = "all"></a>

                <div style=" width:100%; height:1px; clear:both;"></div>
            </div>

            <div style=" width:100%; height:1px; clear:both;"></div>
        </div>

        <div style=" width:100%; height:1px; clear:both;"></div>

