    <div>

        <div class = "Home-lookbook_inside"><p> &lt Home/lookbook inside</p></div>

        <div class="container">
            <div class="slider">
                <div class="slider__photo-container">
                    <div class="slider__arrow-left"  onclick="slider.left()">&lt&lt;</div>
                    <div class="slider__photo-container__photo"><img class="photo_img" src="" /></div>
                    <div class="slider__photo-container__photo"><img class="photo_img" src="" /></div>
                    <div class="slider__photo-container__photo"><img class="photo_img" src="" /></div>
                    <div class="slider__arrow-right" onclick="slider.right()">&gt&gt; </div>
                </div>
                <div style=" width:100%; height:1px; clear:both;"></div>
                <div class="slider__control-container">

                    <div class="slider__point"></div>
                    <div class="slider__point"></div>
                    <div class="slider__point"></div>
                    <div class="slider__point"></div>
                    <div class="slider__point"></div>
                    <div class="slider__point"></div>
                    <div class="slider__point"></div>

                </div>

            </div>
        </div>
        <div style=" width:100%; height:1px; clear:both;"></div>

        <div style=" width:100%; height:1px; clear:both;"></div>
        </div>