<div>


    <div id="Home-New"><p> < <a href="/#/">Home</a>/What's new</p></div>
    <div style=" width:100%; height:1px; clear:both;"></div>

    <div class="new-things-top">
        <div id="new-things-top-left-picture"><img src="../images/new-things-top-left-picture.png"
                                                   alt="new-things-top-left-picture"></div>
        <div id="new-things-top-picture"><img src="../images/new-things-top-picture.png" alt="new-things-top-picture">
        </div>
        <div id="new-things-top-right-picture"><img src="../images/new-things-top-right-picture.png"
                                                    alt="new-things-top-right-picture"></div>
        <div style=" width:100%; height:1px; clear:both;"></div>
    </div>


    <div products collection="collection"></div>
</div>