<div>
    <div class = "Home-store"><p> < <a href="/#/">Home</a>/Our Store</p></div>

    <bp-slider images="slider.images" show-count="3"></bp-slider>

<div class = "storeBottom">
    <div class = "ourStoreBottomBack"><img src="images/ourStoreBottomBack.png"></div>
    <div class="ourStoreBottomBackBlack"><img src="images/ourStoreBottomBackBlack.png"> </div>
    <div class = "map">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2819.4229555311094!2d38.
        970313615091825!3d45.036638269892215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40
        f04f98cd519cbd%3A0x5adef26871b8e135!2z0YPQuy4g0KDQsNGI0L_QuNC70LXQstGB0LrQsNGPLCAxMDYsINCa0
        YDQsNGB0L3QvtC00LDRgCwg0JrRgNCw0YHQvdC-0LTQsNGA0YHQutC40Lkg0LrRgNCw0LksINCg0L7RgdGB0LjRjywg
        MzUwMDAw!5e0!3m2!1sru!2sby!4v1459504079997"
                width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="timetable">
        г. Краснодар</br> ул. Рашпилевская 106</br>
        Понедельник  11.00 - 22.00</br>
        Вторник  11.00 - 22.00</br>
        Среда  11.00 - 22.00</br>
        Четверг  11.00 - 22.00</br>
        Пятница  11.00 - 22.00</br>
        Суббота  11.00 - 22.00</br>
        Воскресение  11.00 - 22.00</br></p>
    </div>



</div>

<div style=" width:100%; height:1px; clear:both;"></div>


</div>