<div class="modal fade">
    <div class="modal-dialog small-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="product__dialog-image">
                    <a ng-click="close()" data-dismiss="modal">
                        <img class="modal-product-img" style="max-width: 500px"
                             ng-src="/product_imgs/product_{{product.id}}.png"/>
                    </a>
                </div>
                <div>
                    <span>{{product.title}}</span>
                    <span>{{product.salePrice ? product.salePrice : product.price}}</span>
                    <a href="javascript:;" ng-show="!inBasket" ng-click="addToBasket()">добавить в корзину</a>
                    <span ng-show="inBasket">в корзине</span>
                </div>
            </div>
        </div>
    </div>
</div>