<div class="modal fade">

    <div class="modal-dialog">
        <div class="border_picture"><img src="images/logo2.png"/></div>
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Регистрация</h4>
            </div>
            <div class="modal-body">

                <p class="red-label" ng-show="message"> {{ message}}</p>
                <p><label for="name">Имя пользователя:</label><input id="name" type="text" ng-model="userName" value="имя пользователя"/></p>
                <p><label for="email">email:</label><input id="email" type="text" ng-model="email" value="имя пользователя"/></p>
                <p><label for="password">Пароль:</label><input id="password" type="password" ng-model="password" value="пароль"/></p>
                <p><label for="phone">Телефон:</label><input id = "phone" type ="text" ng-model = "phone" value = "phone"/></p>
                <p><label for="birthdate">Дата рождения:</label> <input id = "birthdate" type = "text" ng-model = "birthdate" value = "1990-04-19"/></p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" ng-click="register()" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>