<div>
    <div class="Home-Sale"><p> < <a href="/#/">Home</a>/Sale</p></div>

    <div style="display: table; margin: auto;">
        <div id="sale-top-left-picture"><img src="images/sale-top-left-picture.png" alt="sale-top-left-picture"></div>
        <div id="sale-top-center-picture"><img src="images/sale-top-center-picture.png" alt="sale-top-center-picture">
        </div>
        <div id="sale-top-right-picture"><img src="images/sale-top-right-picture.png" alt="sale-top-right-picture">
        </div>
        <div style=" width:100%; height:1px; clear:both;"></div>
    </div>


    <div products collection="collection"></div>


</div>
