<div>
    <div class="Shop-Sale"><p> < <a href="/#/">Home</a>/Shop</p>
    </div>


    <div style="display: table; margin: auto;">
        <div id="shop-top-left-picture"><img src="images/shop-top-left-picture.png" alt="shop-top-left-picture"></div>
        <div id="shop-top-center-picture"><img src="images/shop-top-center-picture.png" alt="shop-top-center-picture">
        </div>
        <div id="shop-top-right-picture"><img src="images/shop-top-right-picture.png" alt="shop-top-right-picture">
        </div>
        <div style=" width:100%; height:1px; clear:both;"></div>
    </div>


    <div products collection="collection"></div>
</div>
