
<div id="content">
    <form name="size">
    <div class="size_section" style="width: 20%">
    <div ><p><span style="color: black" >ВВЕДИТЕ ВАШ РОСТ</span></p>

        <input ng-model="height" class="size_input" type="number" max="190" min="0" name="heightInput" required/></div>
        <div ng-class="err? 'red-msg': 'green-msg'" style="margin-top: 40px" ng-show="message">{{message}}</div>
    </div>

    <div class="size_section" id="size_picture"><img src="images/size_picture.png" alt="size"></div>

    <div class="size_section" id="bust_waist_hips">

        <div class="size_section" id="bust">
            <input ng-model="bust" class="size_input" type="number" max="190" min="0" name="bustInput" required />

            <p> <span style="color: black" >ОБЪЕМ ГРУДИ</span><br/>
                Измеряется на выдохе по наиболее выступающим точкам груди.
                Лентой нужно плотно обхватить грудь. Проследите, чтобы лента была параллельна полу.</p>



        </div >


        <div class="size_section" id="waist">
            <input ng-model="waist"  class="size_input" type="number" max="190" min="0" name="waistInput" required/>

            <p><span style="color: black" >ОКРУЖНОСТЬ ТАЛИИ</span><br/>
                Измерять по самой узкой части талииию, нужно сначала выдохнуть,
                потом обхватить лентой (параллельно полу) талию, не затягивая и не оставляя много свободного места.</p>


        </div>

        <div class="size_section" id="hips">
            <input ng-model="hip" class="size_input" type="number" max="190" min="0" name="hipsInput" required/>

            <p><span style="color: black" >ОКРУЖНОСТЬ БЕДЕР</span><br/>
                Окружность бедер измеряют по самой выступающей части ягодиц. Ноги должны быть вместе.
                При этом метр нужно держать достаточно свободно, без натяжения.</p>


        </div>
        <div style=" width:100%; height:1px; clear:both;"></div>
    </div>

    </form>
    <div style=" width:100%; height:1px; clear:both;"></div>
</div>

<div style=" width:100%; height:1px; clear:both;"></div>

<div class="button" ng-click="choose()"><button> Подобрать размер</button></div>

<div style=" width:100%; height:1px; clear:both;"></div>

