<bp-slider images="slider.images" show-count="3"></bp-slider>
<div style=" width:100%; height:1px; clear:both;"></div>


<div class="index_bottom">
    <div class="lookbook_autumn"><p>Lookbook осень</p></div>
    <div class="index_bottom_picture_1">
        <img src="images/index_bottom_picture_1.png" style="width: 228px; height: 310px ">
    </div>
    <div class="index_bottom_picture_2">
        <img src="images/index_bottom_picture_2.png" style="width: 228px; height: 310px ">
    </div>
    <div class="actions"><p>Акции</p></div>
    <div class="index_bottom_picture_3">
        <img src="images/index_bottom_picture_3.png" style="width: 200px; height: 268px ">
    </div>
    <div class="blog"><p>Blog</p></div>
    <div class="index_bottom_picture_4">
        <img src="images/index_bottom_picture_4.png" style="width: 180px; height: 222px ">
    </div>
    <div class="index_bottom_picture_5">
        <img src="images/index_bottom_picture_5.png"
             style="width: 180px; height: 222px "></div>
    <div class="magazin_v_krasnodare"><br>Наш магазин</br> в Краснодаре</p></div>

    <div style=" width:100%; height:1px; clear:both;"></div>
</div>


<div style=" width:100%; height:1px; clear:both;"></div>