.border_picture {
    position: absolute;
    top: -30px;
    left: 240px;
    z-index: 2;
}
.modal-content-actions {

    color: rgb(140, 139, 138);
    font-style: italic;
    font-size: larger;
    height: 150px;

}
.actionText{
    padding-top: 70px;
    text-align: center;
}


