.Home-Actions{

    font-size: 20px;
    font-family: "Georgia";
    color: rgb(175, 174, 173);
    font-style: italic;
    line-height: 1.445;
    margin-left: 200px;
}
.container{

    position: relative;
}
.line{

    float: right;
}
.actionsTop{
   position: relative;
    width:800px;
    height: 450px

}

.actionsTopInside{
    position: absolute;
    left: 100px;
}

.round{
    position: absolute;
    left: 100px;
    z-index: 1;

}
.actionsBack{
    position: absolute;
    top: 50px;
    z-index: 2;
}

.title {
    font-size: 40px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    position: absolute;
    z-index: 3;
    top: 55px;
    left: 20px;

}
.actionsTopPicture{
    position: absolute;
    z-index: 2;
    left: 180px;
    top: 50px;

}
.actionsTopBackground{

    position: absolute;
    z-index: 2;
    left: 530px;
    top: 50px;

}
.topActionText{
    font-size: 30px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    position: absolute;
    z-index: 3;
    top: 120px;
    left: 660px;

}
.secondLine{
    float: left;
    position: relative;
}
.actionsMiddle{
    position: relative;
    width:800px;
    height: 340px;
}
.actionsMiddleInside{

    position: absolute;
    left:100px;
    top: 50px;
}
.actionsMiddleBackPicture{
    position: absolute;
    z-index: 1;
}

.actionsMiddleBackground{
    position: absolute;
    z-index: 2;
    left: 180px;
}
.middleActionText{
    font-size: 30px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 300px;

}
.actionsMiddlePicture{
    position: absolute;
    z-index: 2;
    left: 560px;

}
.actionsBottom{
    position: relative;
    width:800px;
    height: 350px;
}
.actionsBottomInside{

    position: absolute;
    left:280px;

}
.actionsBottomPicture{
    position: absolute;
    z-index: 2;
}
.actionsBottomBackground{
    position: absolute;
    z-index: 1;
    left: 385px;

}
.bottomActionText{

    font-size: 30px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    position: absolute;
    z-index: 3;
    top: 80px;
    left: 560px;
}









