.Home-Basket {

    font-size: 20px;
    font-family: "Georgia";
    color: rgb(175, 174, 173);
    font-style: italic;
    line-height: 1.445;
    margin-left: 200px;
}

.basketLogo {
    position: relative;
    width: 200px;
    height: 85px;
}

.shopping-bag {
    position: absolute;
    left: 100px;
}

.basketTitle {
    position: absolute;
    left: 140px;

    font-size: 25px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
}

.basketLine {
    position: absolute;
    top: 50px;

}

.productContainer {
    border: solid black 1px;
    width: 90%;
    margin: 10px;
    display: table;

}

.productIcon {
    width: 70px;
    height: 100px;
    float: left;

}

.basketItem {
    padding-right: 10px;
    font-size: 20px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    width: 22%;
    display: table-cell;
    vertical-align: middle;

}

.basketItem_short {
    width: 70px;
}

.totalPrice {

    float: right;
    margin-right: 5%;
    font-size: 20px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    background: rgb(210, 210, 210);

}

.info {
    width: 300px;
    margin: auto;
    margin-top: 30px;
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
}

.phoneNum {
    width: 300px;
    margin: auto;
    margin-top: 10px;
    font-size: 14px;
    font-family: "Georgia";
    color: rgb(175, 175, 175);
    font-style: italic;
}

.makeOrder {
    width: 300px;
    margin: auto;
    margin-top: 10px;
}

.emptyBasket {
    font-size: 20px;
    font-family: "Georgia";
    font-style: italic;
    line-height: 1.445;
    margin:auto;
}