
#Top-3-Trends{
    font-size: 30px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    line-height: 1.565;
    float: right;
    margin-right:130px;

}



.Home-Blog {
    font-size: 20px;
    font-family: "Georgia";
    color: rgb(175, 174, 173);
    font-style: italic;
    line-height: 1.445;
    margin-left: 200px;


}


#Blog-Top{
    float: right;
    margin-right:150px;
    margin-top: -60px;
    background: URL(images/back_blog_top.png) no-repeat;
    background-size: 100%;



}
#blog-text-top {
    font-size: 25px;
    font-family: "Georgia";
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.167;
    float: left;
    width: 300px;
    margin-left: 60px;
    margin-top: 50px;
}

#last_summer{
    position: relative;
    top: -150px;
    z-index:2;
}




#Blog-T{
    float:left;
    position: relative;
    z-index: 2;
    top: 25px;
}
#pic-blog-top{
    float:left;
    margin-left: -135px;
    margin-top: 4px;

}
#vector{
    float: right;
    position: relative;
    z-index: 2;
    top: -130px;
}

#last_summer{
    margin-top:-200px;
}

#blog_bottom{
    float: right;
    margin-top:-200px;
}


#blog_bottom_1st_picture{
    float: right;
    background-color:black;
    margin-right:15px;
    margin-top: 20px;
    position:relative;
    z-index:2;

}

#blog_bottom_text{
    font-size: 25px;
    margin-left:60px;
    font-family: "Georgia";
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.167;
    text-align: right;
    width: 237px;
    height: 136px;
}

#blog_bottom_2nd_picture{
    float: right;
    background-color:black;
    margin-right: -170px;
    margin-top: 20px;
    position: relative;
    z-index:2;


}

#blog_bottom_3d_picture{
    float: right;
    margin-right: 150px;
}
#blog_black{
    float: right;
    margin-right:-35px;
    margin-top: 30px;
    position:relative;
    z-index:1;
}