#info{
    font-size: 16.667px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    line-height: 1.25;
    float: left; width:70%

}


.address{
    margin-left: 30%;
    font-size: 25px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    line-height: 2.411;

}


.form{

    margin-left: 30%;
}

.input{
    margin-bottom: 10px;
    font-size: 17.841px;
    font-family: "Georgia";
    font-style: italic;
    line-height: 0.964;
    color: rgb(140, 139, 138);
    width:  550px;
}
#text{
    font-size: 17.841px;
    font-family: "Georgia";
    font-style: italic;
    line-height: 0.964;
    color: rgb(140, 139, 138);
    float: left;
    margin-top:-17px;

}
#input-text{
    width:550px;
}

#button-send{
    font-size: 17.841px;
    font-family: "Georgia";
    font-style: italic;
    line-height: 0.964;
    color: rgb(140, 139, 138);
    margin-left:42%;
}