footer{
    background-color:#4B3C2E;
    height: 50px;
    position: relative;
    bottom: 0px;
}
.foot{
    float: left;
    margin-left:120px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-style: oblique;
    color: #FFFFFF;


}
.footLink:visited{

    color: #FFFFFF;
}


.footLink:active{

    color:red;
}
.footLink{

    color:white;
}

.footLink:hover{
    text-decoration: none;
    color:red;
}