.header {
    display: table;
    width: 100%;
    margin: 0 auto;
    background: URL(../images/backgroundTop.png) no-repeat;

    background-size: 100%;
}
.header-section {
    display: table-cell;
    vertical-align: top;
}
.header-gun {
    width: 12%;
}
.header-middle-section {
    width: 30%;
}

.header-logo {
    width: 18%;
}

.header-cert-container {
    text-align: center;

}

.header-cert-text {
    font-size: 20px;
    font-family: "Georgia", serif;
    font-style: italic;
    text-shadow:
            1px 1px 2px white,
            1px 1px 2px white,
            1px 1px 2px white;
}

.header-links{
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
}
.header-link {
    font-size: 25px;
    font-family: "Georgia", serif;
    color: rgb(0, 0, 0);
    font-style: italic;
    line-height: 0.964;
}

.header-link:hover, .header-link:active, .header-link:focus {
    text-decoration: none;
}

.header-middle-section-enter {
    text-align: center;
    margin-top: 10px
}


.header-social-container {
    display: inline-block;
    width: 100%;
    float: right;
    text-align: right;
    vertical-align: middle;
}

.header-username {
    font-size: 20px;
}