.Home-Help {
    font-size: 20px;
    font-family: "Georgia";
    color: rgb(175, 174, 173);
    font-style: italic;
    line-height: 1.445;
    margin-left: 200px;
}
.help_top{


    background: url(../images/help_top_back.png) no-repeat;
    background-position: right;
    width: 330px;
    font-size: 30px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;

}
.help_central{
    background-color: #eee9e2 ;
    width: 1000px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
}
.central_elements{
    width: 130px;
    margin-left: 140px;
    margin-top: 20px;
    float: left;
    font-family: Georgia;
    font-style: italic;
    text-align: center;
}
.how_to_find{

    float: right;
    color: #101010;
    font-size: large;
    font-family: Georgia;
    font-style: italic;
    text-align: left;
    background: url(../images/help_top_back.png) no-repeat;
    background-position: left;
    margin-bottom: 100px;
    margin-top: 50px;


}

a:visited{
    color: black;
    font-family: Georgia;
    font-style: italic;

}
a:hover{
    color: dodgerblue;
    font-family: Georgia;
    font-style: italic;


}