body {
    margin: 0;
}
#main {
    min-width: 1260px;
}

.container {
    width: 100%;

}
.slider {
    width: 1000px;
    background: URL(../images/index-top-background.png) no-repeat;
    background-position: right bottom;
    margin: auto;
}
.slider__photo-container {
    display: block;
    width: 100%;
    margin: auto 0;
    background-color: white;
}
.slider__control-container {
    /*width: 100%;*/
    display: block;
    /*background-color: red;*/
    margin-left: 30%;
}
.slider__photo-container__photo {
   max-height: 400px;
}
.slider__photo-container__photo img {
    width: 250px;
    float: left;
    display: block;
    margin: 10px;
}
.slider__point {
    min-width: 20px;

    float: left;
    width: 20px;
    height: 20px;
    background: grey;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;

}
.slider__point-active{
    background: red;

}
.slider__arrow-right {
    min-width: 20px;
    float: left;
    font-size: xx-large;
    color: #de3327;
    margin-top: 100px;
    cursor: pointer;


}
.slider__arrow-left {
    min-width: 20px;
    float: left;
    font-size: xx-large;
    color: #de3327;
    margin-top: 100px;
    cursor: pointer;
}
.cursor-pointer{
    cursor: pointer;
}


.index_bottom{

    background: URL(../images/index_bottom_back.png) no-repeat;

    background-position: center;
    height: 500px;
    width: 1200px;
    position: relative;
    margin: auto;

}



.lookbook_autumn {
    font-size: 27px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    margin-left: 100px;
    margin-top: 50px;
    position: absolute;


}
.foot{


    margin-left: 400px;
}

.index_bottom_picture_1{

    margin-left: 120px;
    margin-top: 120px;
    position: absolute;



}
.index_bottom_picture_2{

   position: absolute;
    margin-top: 120px;
    margin-left: 349px ;

}
.actions{
    font-size: 33px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    position: absolute;
    margin-left: 690px;
    margin-top:165px;
}

.index_bottom_picture_3{
    margin-left: 602px;
    margin-top: 220px;
    position: absolute;
}

.blog{
    font-size: 33px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    margin-top: 50px;
    margin-left: 820px;
    position: absolute;


}
.index_bottom_picture_4{
    position: absolute;
    margin-top: 113px;
    margin-left: 830px;

}
.index_bottom_picture_5{
   position: absolute;
    margin-top: 113px;
    margin-left: 1015px;
}
.magazin_v_krasnodare{

    position: absolute;
    margin-top: 400px;
    margin-left: 940px;
    font-size: 25px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
}

.no-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a:link {
    text-decoration: none;
}

a:hover{
    color: white;
}
a:active{
    color: red;
}

.red-label {
    color: red;
}

.small-dialog{
    width: 550px;
}

.modal-product-img {
    max-width: 400px;
    margin: auto;
    display: block;
}