.Home-lookbook {
    font-size: 20px;
    font-family: "Georgia";
    color: rgb(175, 174, 173);
    font-style: italic;
    line-height: 1.445;
    margin-left: 200px;
}




#sl{
    background: URL(../images/background2.png) no-repeat;

    background-position: center;




}
.sr{
    float:left;


}
.thl{
    background: URL(../images/background3.png) no-repeat;

}
.thr{
    float:left;
}
.thr img {
    width: 235px;
    height: 320px;
}

.fl{
    background: URL(../images/background4.png) no-repeat;
    margin-top: 20px;
}
.fr{
    float: right;
}
#collections{
    float: right;
    margin-top: 50px;
}
#all{
    float: right;
    margin-top: 250px;
    margin-right:50px;

}


