
#Home-New {
    font-size: 20px;
    font-family: "Georgia";
    color: rgb(175, 174, 173);
    font-style: italic;
    line-height: 1.445;
    margin-left: 200px;
}

#new-things-top-left-picture {
    float: left;
    margin-top: 160px;   margin-left: 50px;
}

#new-things-top-picture {
    position: absolute;
    left: 20%;

}

#new-things-top-right-picture {
    position: absolute;
    right: 0;
    margin-top: 104px;
}

#filters {

    margin-left: 270px;

}

.quantity {
    font-size: 18px;
    font-family: "Georgia";
    color: rgb(19, 18, 18);
    font-style: italic;
    text-align: left;
    float: left;
    margin-left: 15px;
    margin-top: 15px;

}

li {
    font-size: 21px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    line-height: 1.445;

}

#list {
    float: left;
    clear: left;
    cursor: pointer;


}

#shirt {
    float: left;
    width: 100px;
    font-size: 21px;
    font-family: "Georgia";
    color: rgb(140, 139, 138);
    font-style: italic;
    line-height: 1.445;
    margin-left: 25px;
    clear: left;
    cursor: pointer;
}

#table {
    display: table;
    margin-left: 250px;
    width: 900px;

}

.row {
    display: table-row;
}

.cell {
    display: block;
    float: left;
    width: 200px;
    height: 400px;
    font-size: 15px;
    font-family: "Georgia";
    font-style: italic;
    margin-left: 20px;

}
.cell img{
    width: 200px;
    height: 275px;

}

.new-things-top {
    position: relative;
}
