.Home-store {
    font-size: 20px;
    font-family: "Georgia";
    color: rgb(175, 174, 173);
    font-style: italic;
    line-height: 1.445;
    margin-left: 200px;
}

.storeBottom{
    height: 500px;
    width: 800px;
    position: relative;


}
.ourStoreBottomBack{
    position: absolute;
    top: 80px;
    z-index: 1;

}
.ourStoreBottomBackBlack{
    position: absolute;
    z-index: 2;
    left: 120px;
}

.map{
    position: absolute;
    left: 200px;
    top: 60px;
    z-index: 3;

}
.timetable{
    font-size: 18px;
    font-family: "Georgia";
    color: white;
    font-style: italic;
    line-height: 1.445;
    position: absolute;
    z-index: 3;
    left: 750px;
    top: 130px;
    width: 230px;


}