.modal-body {
    color: rgb(140, 139, 138);
    font-style: italic;

}
#name{
    width: 300px;
    position: absolute;
    left: 200px;
}

#email{
    width: 300px;
    position: absolute;
    left: 200px;
}

#phone{
    width: 300px;
    position: absolute;
    left: 200px;
}

#birthdate{
    width: 300px;
    position: absolute;
    left: 200px;
}
#password{
    width: 300px;
    position: absolute;
    left: 200px;
}

.btn-primary{

    background-color: #4B3C2E;
}
.border_picture{
    position: absolute;
    top: -30px;
    left:240px;
    z-index: 2;

}
h4{

    font-style: italic;
    color: #4B3C2E;
}
.btn-default{

    background-color: rgb(178, 177, 175);
    color:white;
}