.Home-Sale {
    font-size: 20px;
    font-family: "Georgia";
    color: rgb(175, 174, 173);
    font-style: italic;
    line-height: 1.445;
    margin-left: 200px;
}

#sale-top-left-picture{
    float:left;
    margin-top:76px;
    position:relative;
    z-index:2;
}

#sale-top-center-picture{
    float:left;
    margin-left:-250px;

}
#sale-top-right-picture{
    float:left;
    margin-left:-293px;

}

.sale-price {
    text-decoration: line-through;
}

.red-msg {
    background-color: pink;
}

.green-msg {
    background-color: #c6ffe1;
}

.salePercent {
    position: absolute;
    z-index: 1;
    right: 10px
}
.salePercent_top {
    top: 340px;
}

.salePercent_bottom {
    bottom: 0px;
}

