.Shop-Sale {
    font-size: 20px;
    font-family: "Georgia";
    color: rgb(175, 174, 173);
    font-style: italic;
    line-height: 1.445;
    margin-left: 200px;
}
#shop-top-left-picture{
    float:left;
    position:relative;
    z-index:2;

}

#shop-top-center-picture{
    float:left;
    margin-left:-250px;


}
#shop-top-right-picture{
    float:left;
    margin-left:-35px;

}
#shopFilters{
    margin-left: 270px;
    position:relative;
    z-index:2;
    margin-top:-150px;
}


