#content{
    font-size: 13px;
    font-family: "Georgia";
    font-style: italic;
    line-height: 0.964;
    color: rgb(140, 139, 138);
    margin: auto;
    width: 800px;
}
.size_section {
    float: left;
    margin-top:5px;
}
#bust{
    width: 250px;
}
#waist{
    width: 250px;
}
#hips{
    width: 250px;
}

#bust_waist_hips{
    width: 250px;

}

.button{
    margin: auto;
    width: 170px;
    height: 30px;

}
button{
    font-size: 13px;
    font-family: "Georgia";
    font-style: italic;
    line-height: 0.964;
    color: rgb(140, 139, 138);

}

.size_input {
    width: 100px;
}