#main{
    /*min-width:1350px;*/
}
.top{
    width: 100%;
margin: 0 auto;
    background: URL(../images/backgroundTop.png) no-repeat;

    background-size: 100%;

}
.line{
    float:left;
    text-align: center;

}


#present-sertificate-image{

    text-align: center;
    font-size: 20px;
    font-family: "Georgia";
    font-style: italic;
    text-shadow:
    1px 1px 2px white,
    1px 1px 2px white,
    1px 1px 2px white;

}

#New-Shop-Sale{
    font-size: 27px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    line-height: 0.964;
    text-align: center;
}
#logo{
    float:left;
    width:18%;
}

#Enter{

    font-size: 27px;
    text-align: center;
    font-family: "Georgia";
    font-style: italic;
    line-height: 0.964;
}

#Lookbook-Our-store-Blog{

    font-size: 27px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    font-style: italic;
    line-height: 0.964;
    text-align: center;
}

#ltp{
    width: 12%;
    float: left;

}
#rtp{
    width:10%;
    float:right;

}
#entr{
    width: 30%;
    float: left;
}
#sert{

    width: 30%;
    float: left;
}
#soc{
    float: right;
    margin-right:170px;

}
.social{
    margin-right:5px;
    float:right;
}
